# ADACS introductory data analysis workshop

This lesson is adapted from the [Data Carpentry Ecology lesson](http://www.datacarpentry.org/python-ecology-lesson/)
- make sure to open this ipython notebook in the same directory as the data used in this notebook

We'll be using an etherpad to share solutions to challenges, ask questions and chat:
- etherpad let's you collaborate simultaniously on the same document
- everyone has their own identificating colour
- there is also a chat function where you can talk and ask questions if you like
Your isntructor will give you the link to the etherpad on the day of the course.
After finishing the course and updated notebook with the answers will be made available in the github repo.


## Introduction to Python and data analysis using pandas

Python is a high-level, interpreted programming language. This means the code is easy to read for humans and there is no need for us to compile it and in many cases we do not have to think too much about the underlying system fro e.g. memory usage.

As a consequence, we can use it in two ways:
- Using the interpreter as an "advanced calculator" in interactive mode:
- Executing programs/scripts saved as a text file, usually with *.py extension:


# Recap: quick intro to python

### Data types
How information is stored in a DataFrame or a python object affects what we can do with it and the outputs of calculations as well. There are two main types of data that we're explore in this lesson: numeric and character types.


**Numeric Data Types**

- integer
- float

**Character Data Types**

- strings (a word, a sentence, or several sentences)
- strings that contain numbers can not be used for mathematical operations!

**Lists** 

are a common data structure to hold an ordered sequence of
elements. Each element can be accessed by an index.  Note that Python
indexes start with 0 instead of 1:

**Tuple**  

Similar to a list in that it's an ordered sequence of elements. However,
tuples can not be changed once created (they are "immutable"). Tuples are
created by placing comma-separated values inside parentheses `()`.

**Dictionary** 

A container that holds pairs of objects - keys and values.

Dictionaries work a lot like lists - except that you index them with *keys*. 
You can think about a key as a name for or a unique identifier for a set of values
in the dictionary. Keys can only have particular types - they have to be 
"hashable". Strings and numeric types are acceptable, but lists aren't.


### Operators
We can perform mathematical calculations in Python using the basic operators
 `+, -, /, *, %`:
 
** In python 2 if we divide one integer by another, we get an integer! **
The result in python 3 is different where we get a float.
Remember to convert your integers to floats when you want floating point precision for divisions!


We can also use comparison and logic operators:
`<, >, ==, !=, <=, >=` and statements of identity such as
`and, or, not`. The data type returned by this is 
called a _boolean_.
 
### Scripting

 **Comments** start with #
 
 **Methods** are a way to interact with an object (a list, for example). We can invoke 
a method using the dot `.` followed by the method name and a list of arguments in parentheses. 
To find out what methods are available for an object, we can use the built-in `help` command:


A **Library** in Python contains a set of tools (called functions) that perform
tasks on our data. 

Python doesn't load all of the libraries available to it by default. We have to
add an `import` statement to our code in order to use library functions. To import
a library, we use the syntax `import libraryName`. If we want to give the
library a nickname to shorten the command, we can add `as nickNameHere`. 

You only need to load a library once during your session. You can load the library when needed
or you can load all necessary libraries at the beginning of your script. 
This is good practice, especially for the readability of your code

# Working With Pandas DataFrames in Python

## Starting in the same spot

To help the lesson run smoothly, let's ensure everyone is in the same directory.
This should help us avoid path and file name issues. At this time please
navigate to the workshop directory. If you working in IPython Notebook be sure
that you start your notebook in the workshop directory.

A quick aside that there are Python libraries like [OS
Library](https://docs.python.org/3/library/os.html) that can work with our
directory structure, however, that is not our focus today.

If you need to change your directory ```import os``` and use ```os.chdir```

Or you can use **%** to access the command line, e.g. ```% cd folder_name```


## Our Data 

For this lesson, we will be using [Galaxy Zoo DR1 data](https://www.google.com/search?q=galaxy+zoo&ie=utf-8&oe=utf-8&client=firefox-b-ab). Galaxy Zoo is described in Lintott et al. 2008, MNRAS, 389, 1179 and the data release is described in Lintott et al. 2011, 410, 166.

The table we use is an adapted version of Table 2, listing classifications of galaxies which have spectra included in SDSS Data Release 7. The debiased fraction of the votes in elliptical and spiral categories is given, along with flags identifying systems as classified as spiral, elliptical or uncertain.


| Column           | Description                             |
|------------------|-----------------------------------------|
| id               | SDSS ID, objects taken from DR7         |
| ra               | Right Ascension  (HMS)                  |
| dec              | Declination (DMS)                       |
| nvote            | number of votes                         |
| p_e              | debiased vote fraction Ellipticals      |
| p_s              | debiased vote fraction all Spirals      |
| type             | whether final vote is E, S or U         |
| class            | spiral or elliptical class, eg E0 or CW |

Galaxies flagged as ‘elliptical’ or ‘spiral’ require 80 per cent of the vote in that category after the debiasing procedure has been applied; all other galaxies are flagged ‘uncertain’.
Note, the elliptical class is randomly assigned. The spiral class is based on the highest vote fraction of the spiral classes in the Galaxy Zoo DR 1 Table 2 data.


## Pandas in Python

One of the best options for working with tabular data in Python is to use the
[Python Data Analysis Library](http://pandas.pydata.org/) (a.k.a. Pandas). The
Pandas library provides data structures, produces high quality plots with
[matplotlib](http://matplotlib.org/) and integrates nicely with other libraries
that use [NumPy](http://www.numpy.org/) (which is another Python library) arrays.

Each time we call a function that's in a library, we use the syntax
`LibraryName.FunctionName`. Adding the library name with a `.` before the
function name tells Python where to find the function. In the example above, we
have imported Pandas as `pd`. This means we don't have to type out `pandas` each
time we call a Pandas function.

In [6]:
#if you need to change your directory
import os
os.getcwd()
os.chdir("data/") #make sure you enter the correct fille path

In [7]:
import pandas as pd
#check your version, we need v0.19 or higher
pd.__version__

u'0.19.0'

# Reading CSV Data Using Pandas

We will begin by locating and reading our survey data which are in CSV format.
We can use Pandas' `read_csv` function to pull the file directly into a
[DataFrame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe).

## So What's a DataFrame?

A DataFrame is a 2-dimensional data structure that can store data of different
types (including characters, integers, floating point values, factors and more)
in columns. It is similar to a spreadsheet or an SQL table or the `data.frame` in
R. A DataFrame always has an index (0-based). An index refers to the position of 
an element in the data structure.

In [22]:
# note that pd.read_csv is used because we imported pandas as pd
pd.read_csv('GalaxyZoo1.csv')

                  id           ra          dec  nvote    p_e    p_s type class
0       5.877272e+17  00:00:00.41  -10:22:25.7     59  0.610  0.186    U     U
1       5.877272e+17  00:00:00.74  -09:13:20.2     18  0.203  0.797    S  EDGE
2       5.877272e+17  00:00:01.03  -10:56:48.0     68  0.432  0.428    U     U
3       5.877308e+17  00:00:01.38  +15:30:35.3     52  0.885  0.077    E    E0
4       5.877312e+17  00:00:01.55  -00:05:33.3     59  0.640  0.290    U     U
5       5.877272e+17  00:00:01.57  -09:29:40.3     28  0.830  0.060    U     U
6       5.877312e+17  00:00:01.86  +00:43:09.3     38  0.351  0.473    U     U
7       5.877272e+17  00:00:02.00  +15:41:49.8     26  0.143  0.857    S  EDGE
8       5.877308e+17  00:00:02.10  +15:52:54.2     62  0.355  0.548    U     U
9       5.877272e+17  00:00:02.41  +14:49:19.0     31  0.109  0.789    S  EDGE
10      5.877308e+17  00:00:02.58  +15:02:28.3     24  0.147  0.701    U     U
11      5.877308e+17  00:00:02.82  +14:42:55.9     26  0.621  0.185    U     U
12      5.880155e+17  00:00:03.24  -01:06:46.8     57  0.324  0.480    U     U
13      5.877272e+17  00:00:03.33  -10:43:16.0     24  0.024  0.976    S  EDGE
14      5.877308e+17  00:00:03.46  +14:11:53.6     64  0.245  0.597    U     U
15      5.877312e+17  00:00:04.12  +00:45:07.9     30  0.913  0.054    E    E4
16      5.877272e+17  00:00:04.18  -08:44:03.0     37  0.648  0.295    U     U
17      5.877272e+17  00:00:04.60  -10:58:34.7     30  0.368  0.264    U     U
18      5.877272e+17  00:00:04.60  -08:56:37.6     30  0.075  0.925    S  EDGE
19      5.877312e+17  00:00:04.74  +00:46:54.2     36  0.606  0.394    U     U
20      5.877272e+17  00:00:05.17  -09:13:04.6     66  0.335  0.133    U     U
21      5.880155e+17  00:00:05.54  -01:12:58.9     28  0.061  0.861    U     U
22      5.877272e+17  00:00:05.70  +14:24:44.8     56  0.069  0.721    U     U
23      5.877308e+17  00:00:06.11  +15:52:31.4     58  0.556  0.326    U     U
24      5.880155e+17  00:00:06.67  +00:30:16.8     38  0.612  0.216    U     U
25      5.877272e+17  00:00:06.70  +14:19:58.5     55  0.818  0.073    E    E6
26      5.880155e+17  00:00:07.12  +00:51:28.5     47  0.602  0.373    U     U
27      5.877272e+17  00:00:07.35  +13:54:36.6     24  0.645  0.301    U     U
28      5.877308e+17  00:00:07.37  +15:51:19.2     31  0.513  0.183    U     U
29      5.877308e+17  00:00:07.59  +15:54:07.4     50  0.410  0.362    U     U
...              ...          ...          ...    ...    ...    ...  ...   ...
667914  5.877308e+17  23:59:50.89  +14:43:50.7     36  0.392  0.410    U     U
667915  5.877272e+17  23:59:51.40  +14:05:34.4     52  0.668  0.172    U     U
667916  5.877308e+17  23:59:51.41  +13:42:26.8     53  0.572  0.366    U     U
667917  5.877272e+17  23:59:51.74  -09:26:33.5     28  0.403  0.597    U     U
667918  5.877312e+17  23:59:52.14  +00:40:17.8     44  0.332  0.630    S  EDGE
667919  5.877308e+17  23:59:52.36  +14:07:14.7     43  0.698  0.205    U     U
667920  5.877312e+17  23:59:52.68  +00:20:00.1     45  0.109  0.806    S  EDGE
667921  5.880155e+17  23:59:53.00  -01:13:04.3     34  0.023  0.977    S  EDGE
667922  5.880155e+17  23:59:53.74  +00:33:22.3     40  0.000  1.000    S    CW
667923  5.877272e+17  23:59:53.77  -10:59:56.9     25  0.654  0.163    U     U
667924  5.877308e+17  23:59:54.35  +15:54:16.3     56  0.006  0.958    S    CW
667925  5.877308e+17  23:59:54.78  +15:00:21.9     60  0.400  0.489    U     U
667926  5.877272e+17  23:59:54.80  +14:30:07.6     62  0.000  0.984    S   ACW
667927  5.877272e+17  23:59:55.16  -10:26:51.9     59  0.250  0.447    U     U
667928  5.877308e+17  23:59:55.35  +15:50:21.3     61  0.730  0.122    U     U
667929  5.877312e+17  23:59:56.38  +00:40:30.4     26  0.516  0.095    U     U
667930  5.877272e+17  23:59:56.59  -09:15:23.5     23  0.348  0.607    U     U
667931  5.877272e+17  23:59:57.23  -11:00:31.2     29  0.294  0.645    S  EDGE
667932  5.877312e+17  23:59:57.32  +00:42:54.4     40  0.649  0.252    U     U
667933  5.877308e+17  23:59:57.51  +15:24:04.5     30  0.125  0.815    S  EDGE
667934  5.877272e+17  23:59:57.69  -10:54:41.5     27  0.100  0.900    S  EDGE
667935  5.877308e+17  23:59:57.88  +15:31:29.1     36  0.887  0.056    U     U
667936  5.877272e+17  23:59:58.46  -09:06:02.2     57  0.175  0.596    U     U
667937  5.877272e+17  23:59:58.53  -08:43:19.6     48  0.029  0.928    S   ACW
667938  5.877308e+17  23:59:58.71  +15:22:40.8     28  0.225  0.705    S  EDGE
667939  5.877272e+17  23:59:58.76  -09:41:34.7     35  0.057  0.943    S    CW
667940  5.877308e+17  23:59:58.78  +15:49:01.3     21  0.758  0.193    U     U
667941  5.877272e+17  23:59:58.81  +15:39:49.4     28  0.099  0.603    U     U
667942  5.877308e+17  23:59:59.02  +15:09:18.8     23  0.390  0.045    U     U
667943  5.877272e+17  23:59:59.37  -11:11:31.5     54  0.153  0.722    S  EDGE

[667944 rows x 8 columns]

We can see that there were 667944 rows parsed. Each row has 9
columns. The first column is the index of the DataFrame. The index is used to
identify the position of the data, but it is not an actual column of the DataFrame. 
It looks like  the `read_csv` function in Pandas  read our file properly. However, 
we haven't saved any data to memory so we can work with it.We need to assign the 
DataFrame to a variable. Remember that a variable is a name for a value, such as `x`, 
or  `data`. We can create a new  object with a variable name by assigning a value to it using `=`.

Let's call the imported survey data `gal_df`:

In [23]:
gal_df=pd.read_csv('GalaxyZoo1.csv')

Notice when you assign the imported DataFrame to a variable, Python does not
produce any output on the screen. We can print the value of the `gal_df`
object by typing its name into the Python command prompt.

## Manipulating Our Survey Data

Now we can start manipulating our data. First, let's check the data type of the
data stored in `gal_df` using the `type` method. The `type` method and
`__class__` attribute tell us that `gal_df` is `<class 'pandas.core.frame.DataFrame'>`.

We can also enter `gal_df.dtypes` at our prompt to view the data type for each
column in our DataFrame. `int64` represents numeric integer values - `int64` cells
can not store decimals. `object` represents strings (letters and numbers). `float64`
represents numbers with decimals.

In [24]:
gal_df.dtypes

id       float64
ra        object
dec       object
nvote      int64
p_e      float64
p_s      float64
type      object
class     object
dtype: object

Pandas and base Python use slightly different names for data types. More on this
is in the table below:

| Pandas Type | Native Python Type | Description |
|-------------|--------------------|-------------|
| object | string | The most general dtype. Will be assigned to your column if column has mixed types (numbers and strings). |
| int64  | int | Numeric characters. 64 refers to the memory allocated to hold this character. |
| float64 | float | Numeric characters with decimals. If a column contains numbers and NaNs(see below), pandas will default to float64, in case your missing value has a decimal. |
| datetime64, timedelta[ns] | N/A (but see the [datetime] module in Python's standard library) | Values meant to hold time data. Look into these for time series experiments. |

[datetime]: http://doc.python.org/2/library/datetime.html


## Remember the way python treats integer division?

**In python 2 integer division returns and integer, as opposed to python 3 where we get a float.**
If at least one of the numebrs is a float then we get a float.
Alternatively we could use ```from __future__ import division```, which will then treat integer division in
python 2 as python 3. However, be aware that if the way python handles division is changed in the future your code might break. So choose what you think is the most stable option for your scripts!


To modify the format of values within our data frame we can use the ```astype``` function (also remember in pandas the type is `float64`).
Don't forget this is a function within pandas so we use it with a `.`, for example to convert 
the `nvote` field to floating point values we would run:

In [ ]:
# convert the record_id field from an integer to a float

What happens if we try to convert probability values to integers?

Notice that this throws a value error: `ValueError: Cannot convert NA to
integer`. If we look at the `weight` column in the surveys data we notice that
there are NaN (**N**ot **a** **N**umber) values. *NaN* values are undefined
values that cannot be represented mathematically. Pandas, for example, will read
an empty cell in a CSV or Excel sheet as a NaN. NaNs have some desirable
properties: if we were to average the `weight` column without replacing our NaNs,
Python would know to skip over those cells.

_Note: older pandas version do not know how to handle NaN, please update to v0.19_

Check your pandas version using `pd.__version__`, if you need to update open a bash shell
and type ```conda update pandas```.

---

## Missing Data Values - NaN

Dealing with missing data values is always a challenge. It's sometimes hard to
know why values are missing - was it because of a data entry error? Or data that
someone was unable to collect? Should the value be 0? We need to know how
missing values are represented in the dataset in order to make good decisions.
If we're lucky, we have some metadata that will tell us more about how null
values were handled.

For instance, in some disciplines, like Remote Sensing, missing data values are
often defined as -9999. Having a bunch of -9999 values in your data could really
alter numeric calculations. Often in spreadsheets, cells are left empty where no
data are available. Pandas will, by default, replace those missing values with
NaN. However it is good practice to get in the habit of intentionally marking
cells that have no data, with a no data value! That way there are no questions
in the future when you (or someone else) explores your data.

### Where Are the NaN's?

Let's explore the NaN values in our data a bit further. 
First, let's figure out how many rows contain NaN values for weight. 
We can do this by identifying how many rows have a NULL value (`.isnull`) or by counting the number of rows that have a meaningful value (e.g., p_e>0):

We can replace all NaN values with zeroes using the `.fillna()` method (after
making a copy of the data so we don't lose our work).

However, NaN and 0 yield different analysis results. The mean value when NaN
values are replaced with 0 is different from when NaN values are simply thrown
out or ignored.

In [ ]:
#replace nan with 0

In [ ]:
#check mean, how does it differ from before?

We can fill NaN values with any value that we chose. The code below fills all
NaN values with a mean for all weight values.

```python
 df1['nvote'] = gal_df['nvote'].fillna(gal_df['nvote'].mean())
```

We could also chose to create a subset of our data, only keeping rows that do
not contain NaN values, using `.dropna()` method.

**The point is to make conscious decisions about how to manage missing data.** 
This is where we think about how our data will be used and how these values will
impact the scientific conclusions made from the data.

Python gives us all of the tools that we need to account for these issues. We
just need to be cautious about how the decisions that we make impact scientific
results.

## Useful Ways to View DataFrame objects in Python

There are multiple methods that can be used to summarize and access the data
stored in DataFrames. Let's try out a few. Note that we call the method by using
the object name `gal_df.method`. So `gal_df.columns` provides an index
of all of the column names in our DataFrame.

### Challenges

Try out the methods below to see what they return.

1. `gal_df.columns`.
2. `gal_df.head()`. Also, what does `gal_df.head(15)` do?
3. `gal_df.tail()`.
4. `gal_df.shape`. Take note of the output of the shape method. What format does it return the shape of the DataFrame in?

HINT: [More on tuples, here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences).

## Calculating Statistics From Data In A Pandas DataFrame

We've read our data into Python. Next, let's perform some quick summary
statistics to learn more about the data that we're working with. We might want
to know how many animals were collected in each plot, or how many of each
species were caught. We can perform summary stats quickly using groups. But
first we need to figure out what we want to group by.

Let's begin by exploring our data:

In [ ]:
gal_df.columns.values

## Selecting Data Using Labels (Column Headings)

To recap, we use square brackets `[]` to select a subset of an Python object. For example,
we can select all of data from a column named `species` from the `gal_df`
DataFrame by name:

```python
gal_df['SPIRAL']
# this syntax, calling the column as an attribute, gives you the same output
gal_df.SPIRAL
```

We can also create an new object that contains the data within the `SPIRAL`
column as follows:

```python
# create an object named surveys_species that only contains the `species_id` column
spirals = gal_df['SPIRAL']
```

We can pass a list of column names too, as an index to select columns in that
order. This is useful when we need to reorganize our data.

**NOTE:** If a column name is not contained in the DataFrame, an exception
(error) will be raised.

```python
# select the species and plot columns from the DataFrame
gal_df[['SPIRAL', 'UNCERTAIN']]
# what happens when you flip the order?
gal_df[['UNCERTAIN', 'SPIRAL']]
#what happens if you ask for a column that doesn't exist?
gal_df['SPIRALS']
```

Let's get a list of all the species. The `pd.unique` function tells us all of
the unique values in the `SPIRAL` column:

### Challenges

1. What is the difference between `len(gal_df.NVOTE)` and `gal_df['NVOTE'].nunique()`?

## Groups in Pandas

We often want to calculate summary statistics grouped by subsets or attributes
within fields of our data. For example, we might want to calculate the average
weight of all individuals per plot.

The Pandas function `describe` will return descriptive stats including: mean,
median, max, min, std and count for a particular column in the data. Pandas'
`describe` function will only return summary values for columns containing
numeric data.
We can calculate basic statistics for all records in a single column using the
syntax below:

In [13]:
gal_df['NVOTE'].describe()

count    667944.000000
mean         38.760986
std          13.827837
min           4.000000
25%          28.000000
50%          34.000000
75%          51.000000
max          94.000000
Name: NVOTE, dtype: float64

We can also extract one specific metric if we wish:

```python
gal_df['NVOTE'].min()
gal_df['NVOTE'].max()
gal_df['NVOTE'].mean()
gal_df['NVOTE'].std()
gal_df['NVOTE'].count()
```

But if we want to summarize by one or more variables, for example sex, we can
use Pandas' `.groupby` method. Once we've created a groupby DataFrame, we
can quickly calculate summary statistics by a group of our choice.

In [14]:
sorted_data = gal_df.groupby('SPIRAL')
# summary statistics for all numeric columns by sex
sorted_data.describe()

                 ELLIPTICAL          NVOTE         OBJID  P_CS_DEBIASED  \
SPIRAL
0      count  477719.000000  477719.000000  4.777190e+05  477719.000000
       mean        0.130181      38.812869  5.878143e+17       0.332348
       std         0.336503      13.833939  1.792637e+14       0.241076
       min         0.000000       4.000000  5.877230e+17       0.000000
       25%         0.000000      28.000000  5.877320e+17       0.123000
       50%         0.000000      34.000000  5.877390e+17       0.284000
       75%         0.000000      51.000000  5.877430e+17       0.525000
       max         1.000000      94.000000  5.888490e+17       0.973000
1      count  190225.000000  190225.000000  1.902250e+05  190225.000000
       mean        0.000000      38.630690  5.878146e+17       0.862879
       std         0.000000      13.811679  1.805132e+14       0.127434
       min         0.000000      10.000000  5.877230e+17       0.087000
       25%         0.000000      28.000000  5.877320e+17       0.810000
       50%         0.000000      33.000000  5.877390e+17       0.895000
       75%         0.000000      51.000000  5.877430e+17       0.956000
       max         0.000000      93.000000  5.888490e+17       1.000000

              P_EL_DEBIASED      UNCERTAIN
SPIRAL
0      count  477719.000000  477719.000000
       mean        0.509608       0.869819
       std         0.271921       0.336503
       min         0.000000       0.000000
       25%         0.269000       1.000000
       50%         0.529000       1.000000
       75%         0.742000       1.000000
       max         1.000000       1.000000
1      count  190225.000000  190225.000000
       mean        0.101940       0.000000
       std         0.121804       0.000000
       min         0.000000       0.000000
       25%         0.023000       0.000000
       50%         0.060000       0.000000
       75%         0.133000       0.000000
       max         0.913000       0.000000

In [15]:
# provide the mean for each numeric column by sex
sorted_data.mean()

,OBJID,NVOTE,P_EL_DEBIASED,P_CS_DEBIASED,ELLIPTICAL,UNCERTAIN
SPIRAL,,,,,,
0,5.878143e+17,38.812869,0.509608,0.332348,0.130181,0.869819
1,5.878146e+17,38.630690,0.101940,0.862879,0.000000,0.000000

The `groupby` command is powerful in that it allows us to quickly generate
summary stats.

## Quickly Creating Summary Counts in Pandas

Let's next count the number of samples for each species. We can do this in a few
ways, but we'll use `groupby` combined with a `count()` method.


```python
# count the number of samples by SPIRAL
species_counts = gal_df.groupby('SPIRAL')['OBJID'].count()
```

Or, we can also count just the rows that have the SPIRAL=0:

```python
gal_df.groupby('SPIRAL')['OBJID'].count()[0]
```


### Challenge

1. What happens when you group by two columns using the following syntax and
    then grab mean values:
	- `sorted_data2 = gal_df.groupby(['SPIRAL','P_CS_DEBIASED'])`
	- `sorted_data2.mean()`
2. Summarize weight values for each plot in your data. HINT: you can use the
   following syntax to only create summary statistics for one column in your data
   `by_plot['wgt'].describe()`

In [21]:
sorted_data2 = gal_df.groupby(['SPIRAL','P_CS_DEBIASED'])
sorted_data2.mean()

                             OBJID      NVOTE  P_EL_DEBIASED  ELLIPTICAL  \
SPIRAL P_CS_DEBIASED
0      0.000          5.878171e+17  31.791609       0.818630    0.733651
       0.012          5.877365e+17  81.500000       0.481500    0.500000
       0.013          5.877828e+17  77.058824       0.856118    0.823529
       0.014          5.878207e+17  70.984848       0.707788    0.560606
       0.015          5.878264e+17  66.788732       0.728218    0.619718
       0.016          5.878185e+17  63.307692       0.723483    0.611111
       0.017          5.877963e+17  60.395425       0.769242    0.669935
       0.018          5.878177e+17  58.093407       0.777231    0.681319
       0.019          5.878254e+17  55.806452       0.770065    0.660050
       0.020          5.878052e+17  54.236994       0.783040    0.658960
       0.021          5.878086e+17  54.426621       0.779038    0.658703
       0.022          5.878090e+17  52.591912       0.750779    0.584559
       0.023          5.878244e+17  52.227586       0.774172    0.606897
       0.024          5.878061e+17  50.404255       0.770092    0.627660
       0.025          5.878206e+17  50.884058       0.743351    0.576087
       0.026          5.878267e+17  44.900596       0.795952    0.675944
       0.027          5.878107e+17  45.622030       0.780156    0.643629
       0.028          5.878222e+17  43.648760       0.764426    0.611570
       0.029          5.878149e+17  40.632385       0.786640    0.664114
       0.030          5.878128e+17  41.504551       0.792122    0.672302
       0.031          5.878264e+17  41.319857       0.779445    0.634958
       0.032          5.878114e+17  40.197314       0.783529    0.629132
       0.033          5.878139e+17  39.277618       0.784875    0.642651
       0.034          5.878071e+17  39.270619       0.777637    0.599656
       0.035          5.878058e+17  43.713629       0.758968    0.548239
       0.036          5.878079e+17  37.993394       0.783600    0.610239
       0.037          5.878123e+17  36.788871       0.786787    0.625205
       0.038          5.878122e+17  37.630347       0.778772    0.591606
       0.039          5.878108e+17  40.838752       0.752810    0.530559
       0.040          5.878179e+17  35.431391       0.766666    0.563910
...                            ...        ...            ...         ...
1      0.970          5.878184e+17  39.587477       0.020994    0.000000
       0.971          5.878160e+17  38.903635       0.018957    0.000000
       0.972          5.878147e+17  39.031546       0.022495    0.000000
       0.973          5.878085e+17  40.030939       0.020880    0.000000
       0.974          5.878099e+17  40.308838       0.020341    0.000000
       0.975          5.878242e+17  39.571754       0.021321    0.000000
       0.976          5.878116e+17  40.010989       0.020389    0.000000
       0.977          5.878153e+17  41.064334       0.019467    0.000000
       0.978          5.878079e+17  40.766366       0.018989    0.000000
       0.979          5.878103e+17  39.631910       0.018584    0.000000
       0.980          5.878117e+17  40.525164       0.017004    0.000000
       0.981          5.878135e+17  41.228070       0.015736    0.000000
       0.982          5.878142e+17  42.725183       0.014889    0.000000
       0.983          5.878136e+17  42.410658       0.014479    0.000000
       0.984          5.878178e+17  43.355488       0.013763    0.000000
       0.985          5.878100e+17  42.117450       0.013510    0.000000
       0.986          5.878061e+17  40.960289       0.013242    0.000000
       0.987          5.878287e+17  39.469340       0.012923    0.000000
       0.988          5.878141e+17  39.384994       0.011985    0.000000
       0.989          5.878134e+17  39.391417       0.011000    0.000000
       0.990          5.878125e+17  38.513263       0.010000    0.000000
       0.991          5.878174e+17  39.366271       0.009000    0.000000
       0.992          5.878148e+17  38.896226       0.008000    0.000000
       0.993          5.878291e+17  38.158990       0.007000    0.000000
       0.994          5.878274e+17  40.253859       0.006000    0.000000
       0.995          5.878230e+17  42.316327       0.005000    0.000000
       0.996          5.878152e+17  45.228261       0.004000    0.000000
       0.997          5.878222e+17  49.557576       0.003000    0.000000
       0.998          5.877877e+17  59.651163       0.002000    0.000000
       1.000          5.878138e+17  34.569605       0.000000    0.000000

                      UNCERTAIN
SPIRAL P_CS_DEBIASED
0      0.000           0.266349
       0.012           0.500000
       0.013           0.176471
       0.014           0.439394
       0.015           0.380282
       0.016           0.388889
       0.017           0.330065
       0.018           0.318681
       0.019           0.339950
       0.020           0.341040
       0.021           0.341297
       0.022           0.415441
       0.023           0.393103
       0.024           0.372340
       0.025           0.423913
       0.026           0.324056
       0.027           0.356371
       0.028           0.388430
       0.029           0.335886
       0.030           0.327698
       0.031           0.365042
       0.032           0.370868
       0.033           0.357349
       0.034           0.400344
       0.035           0.451761
       0.036           0.389761
       0.037           0.374795
       0.038           0.408394
       0.039           0.469441
       0.040           0.436090
...                         ...
1      0.970           0.000000
       0.971           0.000000
       0.972           0.000000
       0.973           0.000000
       0.974           0.000000
       0.975           0.000000
       0.976           0.000000
       0.977           0.000000
       0.978           0.000000
       0.979           0.000000
       0.980           0.000000
       0.981           0.000000
       0.982           0.000000
       0.983           0.000000
       0.984           0.000000
       0.985           0.000000
       0.986           0.000000
       0.987           0.000000
       0.988           0.000000
       0.989           0.000000
       0.990           0.000000
       0.991           0.000000
       0.992           0.000000
       0.993           0.000000
       0.994           0.000000
       0.995           0.000000
       0.996           0.000000
       0.997           0.000000
       0.998           0.000000
       1.000           0.000000

[1815 rows x 5 columns]

In [19]:
gal_df.groupby('SPIRAL')['OBJID'].count()[0]

477719

Did you get #3 right? **A Snippet of the Output from challenge 3 looks like:**

```
	plot
	1     count    1903.000000
	      mean       51.822911
	      std        38.176670
	      min         4.000000
	      25%        30.000000
	      50%        44.000000
	      75%        53.000000
	      max       231.000000
          ...
```


## Basic Math Functions

If we wanted to, we could perform math on an entire column of our data. For
example let's multiply all weight values by 2. A more practical use of this might
be to normalize the data according to a mean, area, or some other value
calculated from our data.

In [ ]:
# multiply all weight values by 2

## Quick & Easy Plotting Data Using Pandas

We can plot our summary stats using Pandas, too.

In [ ]:
# make sure figures appear inline in Ipython Notebook
%matplotlib inline
# create a quick bar chart
species_counts = gal_df.groupby('species')['record_id'].count()
species_counts.plot(kind='bar')

In [ ]:
#We can also look at how many animals were captured in each plot:
total_count = gal_df['record_id'].groupby(gal_df['plot']).nunique()
# let's plot that too
total_count.plot(kind='bar')

### Challenge Activities

1. Create a plot of average weight across all species per plot.
2. Create a plot of total males versus total females for the entire dataset.

# Indexing & Slicing in Python

We often want to work with subsets of a **DataFrame** object. There are
different ways to accomplish this including: using labels (ie, column headings - as used previously),
numeric ranges or specific x,y index locations.

## Extracting Range based Subsets: Slicing

**REMINDER**: Python Uses 0-based Indexing

Let's remind ourselves that Python uses 0-based
indexing. This means that the first element in an object is located at position
0. This is different from other tools like R and Matlab that index elements
within objects starting at 1.

```python
# Create a list of numbers:
a = [1,2,3,4,5]
```

[indexing diagram](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/fig/slicing-slicing.svg)

[slicing diagram](https://github.com/datacarpentry/python-ecology-lesson/tree/gh-pages/fig/slicing-slicing.svg)

## Challenges

1. What value does the code below return?
        a[0]
2. How about this:
        a[5]
3. Or this?
        a[len(a)]
4. In the example above, calling `a[5]` returns an error. Why is that?

## Slicing Subsets of Rows in Python

Slicing using the `[]` operator selects a set of rows and/or columns from a
DataFrame. To slice out a set of rows, you use the following syntax:
`data[start:stop]`. When slicing in pandas the start bound is included in the
output. The stop bound is one step BEYOND the row you want to select. So if you
want to select rows 0, 1 and 2 your code would look like this:

```python
# select rows 0,1,2 (but not 3)
gal_df[0:3]
```

The stop bound in Python is different from what you might be used to in
languages like Matlab and R.

```python
# select the first, second and third rows from the surveys variable
gal_df[0:3]
# select the first 5 rows (rows 0,1,2,3,4)
gal_df[:5]
# select the last element in the list
gal_df[-1:]
```

We can also reassign values within subsets of our DataFrame. But before we do that, let's make a 
copy of our DataFrame so as not to modify our original imported data. 

```python
# copy the surveys dataframe so we don't modify the original DataFrame
surveys_copy = gal_df

# set the first three rows of data in the DataFrame to 0
surveys_copy[0:3] = 0
```

Next, try the following code: 

```python
surveys_copy.head()
gal_df.head()
```
What is the difference between the two data frames?

## Referencing Objects vs Copying Objects in Python

We might have thought that we were creating a fresh copy of the `gal_df` objects when we 
used the code `surveys_copy = gal_df`. However the statement  y = x doesn’t create a copy of our DataFrame. 
It creates a new variable y that refers to the **same** object x refers to. This means that there is only one object 
(the DataFrame), and both x and y refer to it. So when we assign the first 3 columns the value of 0 using the 
`surveys_copy` DataFrame, the `gal_df` DataFrame is modified too. To create a fresh copy of the `gal_df`
DataFrame we use the syntax y=x.copy(). But before we have to read the gal_df again because the current version contains the unintentional changes made to the first 3 columns.

```python
gal_df = pd.read_csv("https://ndownloader.figshare.com/files/2292172")
surveys_copy= gal_df.copy()

```

## Slicing Subsets of Rows and Columns in Python

We can select specific ranges of our data in both the row and column directions
using either label or integer-based indexing.

- `loc`: indexing via *labels* (which can be integers)
- `iloc`: indexing via *integers*

To select a subset of rows AND columns from our DataFrame, we can use the `iloc`
method. For example, we can select month, day and year (columns 2, 3 and 4 if we
start counting at 1), like this:

```python
gal_df.iloc[0:3, 1:4]
```

Notice that we asked for a slice from 0:3. This yielded 3 rows of data. When you
ask for 0:3, you are actually telling python to start at index 0 and select rows
0, 1, 2 **up to but not including 3**.


Let's next explore some other ways to index and select subsets of data:

In [ ]:
# select all columns for rows of index values 0 and 10
gal_df.loc[[0, 10], :]

In [ ]:
# what does this do?
gal_df.loc[0, ['species', 'plot', 'wgt']]

In [ ]:
# What happens when you type the code below?
gal_df.loc[[0, 10, 35549], :]

NOTE: Labels must be found in the DataFrame or you will get a `KeyError`. The
start bound and the stop bound are **included**.  When using `loc`, integers
*can* also be used, but they refer to the **index label** and not the position. Thus
when you use `loc`, and select 1:4, you will get a different result than using
`iloc` to select rows 1:4.

We can also select a specific data value according to the specific row and
column location within the data frame using the `iloc` function:
`dat.iloc[row,column]`.


```python
gal_df.iloc[2,6]
```

which gives **output**

```
'F'
```

Remember that Python indexing begins at 0. So, the index location [2, 6] selects
the element that is 3 rows down and 7 columns over in the DataFrame.

## Challenge Activities

1. What happens when you type:
	- gal_df[0:3]
	- gal_df[:5]
	- gal_df[-1:]

2. What happens when you call:
    - `dat.iloc[0:4, 1:4]`
    - `dat.loc[0:4, 1:4]`
    - How are the two commands different?

## Subsetting Data Using Criteria

We can also select a subset of our data using criteria. For example, we can
select all rows that have a year value of 2002.

In [ ]:
gal_df[gal_df.year == 2002]

In [ ]:
#Or we can select all rows that do not contain the year 2002.

In [ ]:
#We can define sets of criteria too:
gal_df[(gal_df.year >= 1980) & (gal_df.year <= 1985)]

## Python Syntax Cheat Sheet

Use can use the syntax below when querying data from a DataFrame. Experiment
with selecting various subsets of the "surveys" data.

* Equals: `==`
* Not equals: `!=`
* Greater than, less than: `>` or `<`
* Greater than or equal to `>=`
* Less than or equal to `<=`


### Challenge Activities

1. Select a subset of rows in the `gal_df` DataFrame that contain data from
   the year 1999 and that contain weight values less than or equal to 8. How
   many columns did you end up with? What did your neighbor get?
2. You can use the `isin` command in python to query a DataFrame based upon a
   list of values as follows:
   `gal_df[gal_df['species'].isin([listGoesHere])]`. Use the `isin` function
   to find all plots that contain particular species in
   the surveys DataFrame. How many records contain these values?
3. Experiment with other queries. Create a query that finds all rows with a weight value > or equal to 0.
4. The `~` symbol in Python can be used to return the OPPOSITE of the selection that you specify in python. 
It is equivalent to **is not in**. Write a query that selects all rows that are NOT equal to 'M' or 'F' in the surveys
data.

# Using Masks

A mask can be useful to locate where a particular subset of values exist or
don't exist - for example,  NaN, or "Not a Number" values. To understand masks,
we also need to understand `BOOLEAN` objects in python.

Boolean values include `true` or `false`. So for example

```python
# set x to 5
x = 5
# what does the code below return?
x > 5
# how about this?
x == 5
```

When we ask python what the value of `x > 5` is, we get `False`. This is because x
is not greater than 5 it is equal to 5. To create a boolean mask, you first create the
True / False criteria (e.g. values > 5 = True). Python will then assess each
value in the object to determine whether the value meets the criteria (True) or
not (False). Python creates an output object that is the same shape as
the original object, but with a True or False value for each index location.

Let's try this out. Let's identify all locations in the survey data that have
null (missing or NaN) data values. We can use the `isnull` method to do this.
Each cell with a null value will be assigned a value of  `True` in the new
boolean object.

In [ ]:
pd.isnull(gal_df)

To select the rows where there are null values,  we can use 
the mask as an index to subset our data as follows:

```python
#To select just the rows with NaN values, we can use the .any method
gal_df[pd.isnull(gal_df).any(axis=1)]
```

Note that there are many null or NaN values in the `wgt` column of our DataFrame.
We will explore different ways of dealing with these in Lesson 03.

We can run `isnull` on a particular column too. What does the code below do?

```python
# what does this do?
empty_weights = gal_df[pd.isnull(gal_df).any(axis=1)]['wgt']
```

Let's take a minute to look at the statement above. 

We are using the Boolean object as an index. 
We are asking python to select rows that have a `NaN` value
for weight.

In [ ]:
empty_weights = gal_df[pd.isnull(gal_df).any(axis=1)]['wgt']
empty_weights.describe()

# Challenges

1. Create a new DataFrame that only contains observations with sex values that
   are **not** female or male. Assign each sex value in the new DataFrame to a
   new value of 'x'. Determine the number of null values in the subset.
2. Create a new DataFrame that contains only observations that are of sex male
   or female and where weight values are greater than 0.

# Merging DataFrames


In many "real world" situations, the data that we want to use come in multiple
files. We often need to combine these files into a single DataFrame to analyze
the data. The pandas package provides [various methods for combining
DataFrames](http://pandas.pydata.org/pandas-docs/stable/merging.html) including
`merge` and `concat`.

To work through the examples below, we first need to load the species and
surveys files into pandas DataFrames. In iPython:

``` python
import pandas as pd
gal_df = pd.read_csv('surveys.csv',
                         keep_default_na=False, na_values=[""])
sdss = pd.read_csv('species.csv',
                         keep_default_na=False, na_values=[""])
gal_df.dtypes
sdss.dtypes
```

In [ ]:
gal_df = pd.read_csv('surveys.csv',
                         keep_default_na=False, na_values=[""])
sdss = pd.read_csv('species.csv',
                         keep_default_na=False, na_values=[""])

In [ ]:
gal_df.dtypes

In [ ]:
sdss.dtypes

Take note that the `read_csv` method we used can take some additional options which
we didn't use previously. Many functions in python have a set of options that
can be set by the user if needed. In this case, we have told Pandas to assign
empty values in our CSV to NaN `keep_default_na=False, na_values=[""]`.
[http://pandas.pydata.org/pandas-docs/dev/generated/pandas.io.parsers.read_csv.html](More
about all of the read_csv options here.)

## Concatinating

We can use the `concat` function in Pandas to append either columns or rows from
one DataFrame to another.  Let's grab two subsets of our data to see how this
works.

In [ ]:
# read in first 10 lines of surveys table

In [ ]:
# grab the last 10 rows (minus the last one)

#reset the index values to the second dataframe appends properly
# drop=True option avoids adding new index column with old index values

When we concatenate DataFrames, we need to specify the axis. `axis=0` tells
Pandas to stack the second DataFrame under the first one. It will automatically
detect whether the column names are the same and will stack accordingly.
`axis=1` will stack the columns in the second DataFrame to the RIGHT of the
first DataFrame. To stack the data vertically, we need to make sure we have the
same columns and associated column format in both datasets. When we stack
horizonally, we want to make sure what we are doing makes sense (ie the data are
related in some way).

In [ ]:
# stack the DataFrames on top of each other

In [ ]:
# place the DataFrames side by side

### Challenge - Row Index Values and Concat
Have a look at the `vertical_stack` dataframe? Notice anything unusual?
The row indexes for the two data frames `survey_sub` and `survey_sub_last10`
have been repeated. We can reindex the new dataframe using the `reset_index()` method.

## Writing Out Data to CSV

We can use the `to_csv` command to do export a DataFrame in CSV format. Note that the code
below will by default save the data into the current working directory. We can
save it to a different folder by adding the foldername and a slash to the file
`vertical_stack.to_csv('foldername/out.csv')`.

```python
# Write DataFrame to CSV 
vertical_stack.to_csv('out.csv')
```

Check out your working directory to make sure the CSV wrote out properly, and
that you can open it! If you want, try to bring it back into python to make sure
it imports properly.

```python	
# for kicks read our output back into python and make sure all looks good
new_output = pd.read_csv('out.csv', keep_default_na=False, na_values=[""])
```

###  Challenge (if we have the time)

In the data folder, there are two survey data files: `survey2001.csv` and
`survey2002.csv`. Read the data into python and combine the files to make one
new data frame. Create a plot of average plot weight by year grouped by sex.
Export your results as a CSV and make sure it reads back into python properly.

# Joining DataFrames

When we concatenated our DataFrames we simply added them to each other -
stacking them either vertically or side by side. Another way to combine
DataFrames is to use columns in each dataset that contain common values (a
common unique id). Combining DataFrames using a common field is called
"joining". The columns containing the common values are called "join key(s)".
Joining DataFrames in this way is often useful when one DataFrame is a "lookup
table" containing additional data that we want to include in the other. 

NOTE: This process of joining tables is similar to what we do with tables in an
SQL database.

For example, the `species.csv` file that we've been working with is a lookup
table. This table contains the genus, species and taxa code for 55 species. The
species code is unique for each line. These species are identified in our survey
data as well using the unique species code. Rather than adding 3 more columns
for the genus, species and taxa to each of the 35,549 line Survey data table, we
can maintain the shorter table with the species information. When we want to
access that information, we can create a query that joins the additional columns
of information to the Survey data.

Storing data in this way has many benefits including:

1. It ensures consistency in the spelling of species attributes (genus, species
   and taxa) given each species is only entered once. Imagine the possibilities
   for spelling errors when entering the genus and species thousands of times!
2. It also makes it easy for us to make changes to the species information once
   without having to find each instance of it in the larger survey data.
3. It optimizes the size of our data. 


## Joining Two DataFrames 

To better understand joins, let's grab the first 10 lines of our data as a
subset to work with. We'll use the `.head` method to do this. We'll also read
in a subset of the species table. 

```python
# read in first 10 lines of surveys table
survey_sub = gal_df.head(10)

# import a small subset of the species data designed for this part of the lesson
species_sub = pd.read_csv('species_subset.csv', keep_default_na=False, na_values=[""])
```

In this example, `species_sub` is the lookup table containing genus, species, and
taxa names that we want to join with the data in `survey_sub` to produce a new
DataFrame that contains all of the columns from both `sdss` *and*
`survey_df`.

## Identifying join keys

To identify appropriate join keys we first need to know which field(s) are
shared between the files (DataFrames). We might inspect both DataFrames to
identify these columns. If we are lucky, both DataFrames will have columns with
the same name that also contain the same data. If we are less lucky, we need to
identify a (differently-named) column in each DataFrame that contains the same
information.

Check the column names for survey_sub and species_sub

In our example, the join key is the column containing the object
identifier. 

Now that we know the fields with the common species ID attributes in each
DataFrame, we are almost ready to join our data. However, since there are
[different types of joins](http://blog.codinghorror.com/a-visual-explanation-of-sql-joins/), we
also need to decide which type of join makes sense for our analysis.

## Inner joins

The most common type of join is called an _inner join_. An inner join combines
two DataFrames based on a join key and returns a new DataFrame that contains
**only** those rows that have matching values in *both* of the original
DataFrames. 

Inner joins yield a DataFrame that contains only rows where the value being
joins exists in BOTH tables. An example of an inner join, adapted from [this
page](http://blog.codinghorror.com/a-visual-explanation-of-sql-joins/) is below:

![Inner join -- courtesy of codinghorror.com](http://blog.codinghorror.com/content/images/uploads/2007/10/6a0120a85dcdae970b012877702708970c-pi.png)

The pandas function for performing joins is called `merge` and an Inner join is
the default option:

In [ ]:
merged_inner = pd.merge(left=survey_sub,right=species_sub, left_on='if', right_on='id')
# as the column names in both dataframes are 'id', we could skip the `left_on`
# and `right_on` arguments and still get the same result

In [ ]:
# what's the size of the output data?
merged_inner.shape

In [ ]:
merged_inner

The result of an inner join of `survey_sub` and `species_sub` is a new DataFrame
that contains the combined set of columns from `survey_sub` and `species_sub`. It
*only* contains rows that have two-letter species codes that are the same in
both the `survey_sub` and `species_sub` DataFrames. In other words, if a row in
`survey_sub` has a value of `id` that does *not* appear in the `id`
column of `species`, it will not be included in the DataFrame returned by an
inner join.  Similarly, if a row in `species_sub` has a value of `id`
that does *not* appear in the `species` column of `survey_sub`, that row will not
be included in the DataFrame returned by an inner join.

The two DataFrames that we want to join are passed to the `merge` function using
the `left` and `right` argument. The `left_on='species'` argument tells `merge`
to use the `species` column as the join key from `survey_sub` (the `left`
DataFrame). Similarly , the `right_on='species_id'` argument tells `merge` to
use the `species_id` column as the join key from `species_sub` (the `right`
DataFrame). For inner joins, the order of the `left` and `right` arguments does
not matter.

The result `merged_inner` DataFrame contains all of the columns from `survey_sub`
(record id, month, day, etc.) as well as all the columns from `species_sub`
(species_id, genus, species, and taxa).

Notice that `merged_inner` has fewer rows than `survey_sub`. This is an
indication that there were rows in `gal_df` with value(s) for `id` that
do not exist as value(s) for `id` in `sdss`.
 
## Left joins

What if we want to add information from `species_sub` to `survey_sub` without
losing any of the information from `survey_sub`? In this case, we use a different
type of join called a "left outer join", or a "left join".

Like an inner join, a left join uses join keys to combine two DataFrames. Unlike
an inner join, a left join will return *all* of the rows from the `left`
DataFrame, even those rows whose join key(s) do not have values in the `right`
DataFrame.  Rows in the `left` DataFrame that are missing values for the join
key(s) in the `right` DataFrame will simply have null (i.e., NaN or None) values
for those columns in the resulting joined DataFrame.

Note: a left join will still discard rows from the `right` DataFrame that do not
have values for the join key(s) in the `left` DataFrame.

![Left Join](http://blog.codinghorror.com/content/images/uploads/2007/10/6a0120a85dcdae970b01287770273e970c-pi.png)

A left join is performed in pandas by calling the same `merge` function used for
inner join, but using the `how='left'` argument:

In [ ]:
merged_left = pd.merge(left=survey_sub,right=species_sub, how='left', left_on='species', right_on='species_id')

merged_left

The result DataFrame from a left join (`merged_left`) looks very much like the
result DataFrame from an inner join (`merged_inner`) in terms of the columns it
contains. However, unlike `merged_inner`, `merged_left` contains the **same
number of rows** as the original `survey_sub` DataFrame. When we inspect
`merged_left`, we find there are rows where the information that should have
come from `species_sub` (i.e., `species_id`, `genus`, and `taxa`) is
missing (they contain NaN values):

In [ ]:
merged_left[ pd.isnull(merged_left.genus) ]

These rows are the ones where the value of `species` from `survey_sub` (in this
case, `PF`) does not occur in `species_sub`.


## Other join types

The pandas `merge` function supports two other join types:

* Right (outer) join: Invoked by passing `how='right'` as an argument. Similar
  to a left join, except *all* rows from the `right` DataFrame are kept, while
  rows from the `left` DataFrame without matching join key(s) values are
  discarded.
* Full (outer) join: Invoked by passing `how='outer'` as an argument. This join
  type returns the all pairwise combinations of rows from both DataFrames; i.e.,
  the result DataFrame will `NaN` where data is missing in one of the dataframes. This join type is
  very rarely used.

### Challenge

1) Create a new DataFrame by joining the contents of the `surveys.csv` and
`species.csv` tables. Then calculate and plot the distribution of:

    a) taxa by plot
    b) taxa by sex by plot
    
    
2) In the data folder, there is a plot.csv file that contains information about the type associated with each plot. Use that data to summarize the number of plots by plot type. Note the difference in column names, ie, `plot_id` and `plot`

# Automating data processing using For Loops

So far, we've used Python and the pandas library to explore and manipulate
individual datasets by hand, much like we would do in a spreadsheet. The beauty
of using a programming language like Python, though, comes from the ability to
automate data processing through the use of loops and functions.

## For loops

Loops allow us to repeat a workflow (or series of actions) a given number of
times or while some condition is true. We would use a loop to automatically
process data that's stored in multiple files (daily values with one file per
year, for example). Loops lighten our work load by performing repeated tasks
without our direct involvement and make it less likely that we'll introduce
errors by making mistakes while processing each file by hand.

Let's write a simple for loop that simulates what a kid might see during a
visit to the zoo:

The line defining the loop must start with `for` and end with a colon, and the
body of the loop must be indented.

In this example, `creature` is the loop variable that takes the value of the next
entry in `animals` every time the loop goes around. We can call the loop variable
anything we like. After the loop finishes, the loop variable will still exist
and will have the value of the last entry in the collection:

We are not asking python to print the value of the loop variable anymore, but
the for loop still runs and the value of `creature` changes on each pass through
the loop. The statement `pass` in the body of the loop just means "do nothing".

### Challenge:

1. What happens if we don't include the `pass` statement?

2. Rewrite the loop so that the animals are separated by commas, not new lines
(Hint: You can concatenate strings using a plus sign. For example,
`print(string1 + string2)` outputs 'string1string2').

In [ ]:
animals = ['lion', 'tiger', 'crocodile', 'vulture', 'hippo']

In [ ]:
test = "the animals are"
for creatures in animals:
    test = test + " ," + creatures
print(test)

The file we've been using so far, `surveys.csv`, contains 25 years of data and is
very large. We would like to separate the data for each year into a separate
file.

Let's start by making a new directory inside the folder `data` to store all of
these files using the module `os`:

The command `os.mkdir` is equivalent to `mkdir` in the shell. Just so we are
sure, we can check that the new directory was created within the `data` folder:

The command `os.listdir` is equivalent to `ls` in the shell.

Previously, we saw how to use the library pandas to load the species
data into memory as a DataFrame, how to select a subset of the data using some
criteria, and how to write the DataFrame into a csv file. Let's write a script
that performs those three steps in sequence for the year 2002:

```python
import pandas as pd

# Load the data into a DataFrame
gal_df = pd.read_csv('surveys.csv')

# Select only data for 2002
surveys2002 = gal_df[gal_df.year == 2002]

# Write the new DataFrame to a csv file
surveys2002.to_csv('data/yearly_files/surveys2002.csv')
```

To create yearly data files, we could repeat the last two commands over and
over, once for each year of data. Repeating code is neither elegant nor
practical, and is very likely to introduce errors into your code. We want to
turn what we've just written into a loop that repeats the last two commands for
every year in the dataset.

Let's start by writing a loop that simply prints the names of the files we want
to create - the dataset we are using covers 1977 through 2002, and we'll create
a separate file for each of those years. Listing the filenames is a good way to
confirm that the loop is behaving as we expect.

We have seen that we can loop over a list of items, so we need a list of years 
to loop over. We can get the years in our DataFrame with:

but we want only unique years, which we can get using the `unique` function 
which we have already seen.

Putting this into our for loop we get

We can now add the rest of the steps we need to create separate text files.
Once finished look inside the `yearly_files` directory and check a couple of the files you
just created to confirm that everything worked as expected.

## Writing Unique FileNames

Notice that the code above created a unique filename for each year.

	filename = 'yearly_files/surveys_year' + str(year) + '.csv'

Let's break down the parts of this name:

* The first part is simply some text that specifies the directory to store our
  data file in (data/yearly_files/) and the first part of the file name
  (surveys): `'yearly_files/surveys_year'`
* We can concatenate this with the value of a variable, in this case `year` by
  using the plus `+` sign and the variable we want to add to the file name: `+
  str(year)`
* Then we add the file extension as another text string: `+ '.csv'`

Notice that we use single quotes to add text strings. The variable is not
surrounded by quotes. This code produces the string
`yearly_files/surveys_year2002.csv` which contains the path to the new filename
AND the file name itself.

### Challenge

1. Some of the surveys you saved are missing data (they have null values that
show up as NaN - Not A Number - in the DataFrames and do not show up in the text
files). Modify the for loop so that the entries with null values are not
included in the yearly files.

2. What happens if there is no data for a year in the sequence (for example,
imagine we had used 1976 as the start year in `range`)?

3. Let's say you only want to look at data from a given multiple of years. How would you modify your loop in order to generate a data file for only every 5th year, starting from 1977?

4. Instead of splitting out the data by years, a colleague wants to do analyses each species separately. How would you write a unique csv file for each species?

## Building reusable and modular code with functions

Suppose that separating large data files into individual yearly files is a task
that we frequently have to perform. We could write a **for loop** like the one above
every time we needed to do it but that would be time consuming and error prone.
A more elegant solution would be to create a reusable tool that performs this
task with minimum input from the user. To do this, we are going to turn the code
we've already written into a function.

Functions are reusable, self-contained pieces of code that are called with a
single command. They can be designed to accept arguments as input and return
values, but they don't need to do either. Variables declared inside functions
only exist while the function is running and if a variable within the function
(a local variable) has the same name as a variable somewhere else in the code,
the local variable hides but doesn't overwrite the other.

Every method used in Python (for example, `print`) is a function, and the
libraries we import (say, `pandas`) are a collection of functions. We will only
use functions that are housed within the same code that uses them, but it's also
easy to write functions that can be used by different programs.

Functions are declared following this general structure:

```python
def this_is_the_function_name(input_argument1, input_argument2):

    # The body of the function is indented
    # This function prints the two arguments to screen
    print('The function arguments are:', input_argument1, input_argument2, '(this is done inside the function!)')

    # And returns their product
    return input_argument1 * input_argument2
```

The function declaration starts with the word `def`, followed by the function
name and any arguments in parenthesis, and ends in a colon. The body of the
function is indented just like loops are. If the function returns something when
it is called, it includes a return statement at the end.

In [ ]:
#let's define this function
def this_is_the_function_name(input_argument1, input_argument2):

    # The body of the function is indented
    # This function prints the two arguments to screen
    print('The function arguments are:', input_argument1, input_argument2, '(this is done inside the function!)')

    # And returns their product
    return input_argument1 * input_argument2

In [ ]:
#and now let's call the function:

### Challenge:

1. Change the values of the arguments in the function and check its output
2. Try calling the function by giving it the wrong number of arguments (not 2)
   or not assigning the function call to a variable (no `product_of_inputs =`)
3. Declare a variable inside the function and test to see where it exists (Hint:
   can you print it from outside the function?)
4. Explore what happens when a variable both inside and outside the function
   have the same name. What happens to the global variable when you change the
   value of the local variable?

We can now turn our code for saving yearly data files into a function. There are
many different "chunks" of this code that we can turn into functions, and we can
even create functions that call other functions inside them. Let's first write a
function that separates data for just one year and saves that data to a file:

```python
def one_year_csv_writer(this_year, all_data):
    """
    Writes a csv file for data from a given year.

    this_year --- year for which data is extracted
    all_data --- DataFrame with multi-year data
    """

    # Select data for the year
    surveys_year = all_data[all_data.year == this_year]

    # Write the new DataFrame to a csv file
    filename = 'yearly_files/function_surveys_year' + str(this_year) + '.csv'
    surveys_year.to_csv(filename)
```

The text between the two sets of triple double quotes is called a docstring and
contains the documentation for the function. It does nothing when the function
is running and is therefore not necessary, but it is good practice to include
docstrings as a reminder of what the code does. Docstrings in functions also
become part of their 'official' documentation:

In [ ]:
one_year_csv_writer?

In [ ]:
one_year_csv_writer(2002,gal_df)

We changed the root of the name of the csv file so we can distinguish it from
the one we wrote before. Check the `yearly_files` directory for the file. Did it
do what you expect?

What we really want to do, though, is create files for multiple years without
having to request them one by one. Let's write another function that replaces
the entire For loop by simply looping through a sequence of years and repeatedly
calling the function we just wrote, `one_year_csv_writer`:


```python
def yearly_data_csv_writer(start_year, end_year, all_data):
    """
    Writes separate csv files for each year of data.

    start_year --- the first year of data we want
    end_year --- the last year of data we want
    all_data --- DataFrame with multi-year data
    """

    # "end_year" is the last year of data we want to pull, so we loop to end_year+1
    for year in range(start_year, end_year+1):
        one_year_csv_writer(year, all_data)
```

Because people will naturally expect that the end year for the files is the last
year with data, the for loop inside the function ends at `end_year + 1`. 
This is because when we specify `range()` the last number is not included, try it for yourself.

By writing the entire loop into a function, we've made a reusable tool for whenever
we need to break a large data file into yearly files. Because we can specify the
first and last year for which we want files, we can even use this function to
create files for a subset of the years available. This is how we call this
function:

**BEWARE!** If you are using IPython Notebooks and you modify a function, you MUST
re-run that cell in order for the changed function to be available to the rest
of the code. Nothing will visibly happen when you do this, though, because
simply defining a function without *calling* it doesn't produce an output. Any
cells that use the now-changed functions will also have to be re-run for their
output to change.

### Challenge:

1. Add two arguments to the functions we wrote that take the path of the
   directory where the files will be written and the root of the file name.
   Create a new set of files with a different name in a different directory.
2. How could you use the function `yearly_data_csv_writer` to create a csv file
   for only one year? (Hint: think about the syntax for `range`)
3. Make the functions return a list of the files they have written. There are
   many ways you can do this (and you should try them all!): either of the
   functions can print to screen, either can use a return statement to give back
   numbers or strings to their function call, or you can use some combination of
   the two. You could also try using the `os` library to list the contents of
   directories.
4. (If we have time in class, otherwise have a looka t home)
   Explore what happens when variables are declared inside each of the functions
   versus in the main (non-indented) body of your code. What is the scope of the
   variables (where are they visible)? What happens when they have the same name
   but are given different values?

The functions we wrote demand that we give them a value for every argument.
Ideally, we would like these functions to be as flexible and independent as
possible. Let's modify the function `yearly_data_csv_writer` so that the
`start_year` and `end_year` default to the full range of the data if they are
not supplied by the user. Arguments can be given default values with an equal
sign in the function declaration. Any arguments in the function without default
values (here, `all_data`) is a required argument and MUST come before the
argument with default values (which are optional in the function call).

```python
    def yearly_data_arg_test(all_data, start_year = 1977, end_year = 2002):
        """
        Modified from yearly_data_csv_writer to test default argument values!

        start_year --- the first year of data we want --- default: 1977
        end_year --- the last year of data we want --- default: 2002
        all_data --- DataFrame with multi-year data
        """

        return start_year, end_year
```

In [ ]:
#define function

In [ ]:
#test function
# using \t in the `print` statement inserts tabs, used to align the text and make it easier to read.

But what if our dataset doesn't start in 1977 and end in 2002? We can modify the
function so that it looks for the start and end years in the dataset if those
dates are not provided:

```python
    def yearly_data_arg_test(all_data, start_year = None, end_year = None):
        """
        Modified from yearly_data_csv_writer to test default argument values!

        start_year --- the first year of data we want --- default: None - check all_data
        end_year --- the last year of data we want --- default: None - check all_data
        all_data --- DataFrame with multi-year data
        """

        if not start_year:
            start_year = min(all_data.year)
        if not end_year:
            end_year = max(all_data.year)

        return start_year, end_year
```

In [ ]:
#define function

In [ ]:
#test function

The default values of the `start_year` and `end_year` arguments in the function
`yearly_data_arg_test` are now `None`. This is a build-it constant in Python
that indicates the absence of a value - essentially, that the variable exists in
the namespace of the function (the directory of variable names) but that it
doesn't correspond to any existing object.

### Challenge:

1. What type of object corresponds to a variable declared as `None`? (Hint:
create a variable set to `None` and use the function `type()`)

2. Compare the behavior of the function `yearly_data_arg_test` when the
arguments have `None` as a default and when they do not have default values.

3. What happens if you only include a value for `start_year` in the function
call? Can you write the function call with only a value for `end_year`? (Hint:
think about how the function must be assigning values to each of the arguments -
this is related to the need to put the arguments without default values before
those with default values in the function definition!)

The body of the test function now has two conditional 'loops' (if statement) that
check the values of `start_year` and `end_year`. If statements execute the body of
the 'loop' when some condition is met. They commonly look something like this:

```python
    a = 5

    if a<0: # meets first condition?

        # if a IS less than zero
        print('a is a negative number')

    elif a>0: # did not meet first condition. meets second condition?

        # if a ISN'T less than zero and IS more than zero
        print('a is a positive number')

    else: # met neither condition

        # if a ISN'T less than zero and ISN'T more than zero
        print('a must be zero!')

    a is a positive number
```

Change the value of `a` to see how this function works. The statement `elif`
means "else if", and all of the conditional statements must end in a colon.

The if statements in the function `yearly_data_arg_test` check whether there is an
object associated with the variable names `start_year` and `end_year`. If those
variables are `None`, the if statements return the boolean `True` and execute whatever
is in their body. On the other hand, if the variable names are associated with
some value (they got a number in the function call), the if statements return `False`
and do not execute. The opposite conditional statements, which would return
`True` if the variables were associated with objects (if they had received value
in the function call), would be `if start_year` and `if end_year`.

As we've written it so far, the function `yearly_data_arg_test` associates
values in the function call with arguments in the function definition just based
in their order. If the function gets only two values in the function call, the
first one will be associated with `all_data` and the second with `start_year`,
regardless of what we intended them to be. We can get around this problem by
calling the function using keyword arguments, where each of the arguments in the
function definition is associated with a keyword and the function call passes
values to the function using these keywords:

```python
    def yearly_data_arg_test(all_data, start_year = None, end_year = None):
        """
        Modified from yearly_data_csv_writer to test default argument values!

        start_year --- the first year of data we want --- default: None - check all_data
        end_year --- the last year of data we want --- default: None - check all_data
        all_data --- DataFrame with multi-year data
        """

        if not start_year:
            start_year = min(all_data.year)
        if not end_year:
            end_year = max(all_data.year)

        return start_year, end_year
```

In [ ]:
#define function

In [ ]:
#test function

### Challenge:

1. Rewrite the `one_year_csv_writer` and `yearly_data_csv_writer` functions to
have keyword arguments with default values

2. Modify the functions so that they don't create yearly files if there is no
data for a given year and display an alert to the user (Hint: use conditional
statements and if loops to do this. For an extra challenge, use `try`
statements!)

3. The code below checks to see whether a directory exists and creates one if it
doesn't. Add some code to your function that writes out the CSV files, to check
for a directory to write to.

```Python
	if 'dir_name_here' in os.listdir('.'):
	    print('Processed directory exists')
	else:
	    os.mkdir('dir_name_here')
	    print('Processed directory created')
```

4. The code that you have written so far to loop through the years is good,
however it is not necessarily reproducible with different datasets.
For instance, what happens to the code if we have additional years of data
in our CSV files? Using the tools that you learned in the previous activities,
make a list of all years represented in the data. Then create a loop to process
your data, that begins at the earliest year and ends at the latest year using
that list.

HINT: you can create a loop with a list as follows: `for years in year_list:`